# requirements.txt
fastapi
psutil==5.9.5
uvicorn
python-multipart
numpy
opencv-python-headless
mediapipe
ffmpeg-python
google-cloud-storage
pydantic
reportlab
streamlit
openai
google-cloud-secret-manager